//黑夜版基色
$black_bg:#27262B; //背景
$black_bg_deepblue: #212633; //深蓝
$black_bg_deep: #232226;  // 深黑
$black_bg_gray: #2F2D32; //浅灰
$black_bg_black: #1A191D; //黑
$black_bg_deepgray: #2F2D32; //深灰
$black_bg_table:#363339;//二级灰

//黑夜版字体色
$black_font_light: #DEB142; //橙色
$black_font_gray: #8E8E8E; //灰色
$black_font_white: #DADADA; //灰白

//黑夜版边框
$black_border_gray:#37353A;
$black_border_grey:#4A4A4A;
$black_border_dark_golden:#B99C7E;

//白天版
$day_bg:#F3F7FC; //背景色
$day_bg_blue:#F8F9FD; //浅蓝背景
$day_border:#F1F2F6;//灰色边

//白天版字体色
$day_font_gray:#8E96A8; //浅灰
$day_font_graywhite:#F3F4F5; //灰白
$day_font_deepgray:#838B9E; //深灰
$day_font_blue:#366C96; //蓝色
$day_font_orange:#E28E01; 
$day_font_dark:#192136; 


//手机端
$mobile_light:#D9A73A; //黄色