.cusr {
    cursor: pointer;
}
.dib {
    display: inline-block;
}

.box-shadow{
    box-shadow: rgba(185, 185, 185, 0.45) 0px 0px 7px ;
}

.text-danger{
    color: red;
}

.broke-words{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.tc{
    text-align: center;
}